:root {
  --font-size-p: 1rem;
  --font-size-small: 0.8rem;
  --font-size-h1: 3rem;
  --font-size-h1-mob: 2rem;
  --font-size-h2: 2.25rem;
  --font-size-h2-mob: 1.5rem;
  --font-size-h3: 2rem;
  --font-size-h3-mob: 1.25rem;
  --font-size-h4: 1.5rem;
  --font-size-h4-mob: 1.2rem;
  --font-size-h5: 1.15rem;
  --font-size-h5-mob: 1.06rem;
  --font-wight-bold: 700;
  --font-family-sans-s: "Roboto", sans-serif;
  --font-family-sans-slab: "Roboto Slab", serif;

}


.small-text {
  font-size: var(--font-size-small);
  color: var(--color-font);
}

p.small-text a {
  font-size: var(--font-size-small);
  color: var(--color-font);
  text-decoration: none;
}



/*TÍTULOS*/
.white-container h1 {
  font-size: var(--font-size-h1-mob);
  color: rgba(var(--font-color), 1);
  line-height: normal;
  font-weight: 700;
  padding: 0;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .white-container h1 {
    font-size: var(--font-size-h1);
  }
}

.white-container h2 {
  font-size: var(--font-size-h2-mob);
  line-height: normal;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .white-container h2 {
    font-size: var(--font-size-h2);
  }
}

.white-container h3 {
  font-size: var(--font-size-h3-mob);
  line-height: normal;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .white-container h3 {
    font-size: var(--font-size-h3);
  }
}

.white-container h4 {
  font-size: var(--font-size-h4-mob);
  line-height: 1.5;
  font-weight: 400;
}

@media (min-width: 800px) {
  .white-container h4 {
    font-size: var(--font-size-h4);

  }
}


.white-container p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

@media (min-width: 800px) {
  .white-container p {
    font-size: 1rem;
  }
}

/*TÍTULOS*/