
@import url('/estilos/base/typography.css');
@import url('/estilos/base/variables.css');
@import url('/estilos/componentes/accordeon.css');
@import url('/estilos/componentes/buttons.css');
@import url('/estilos/componentes/cards.css');
@import url('/estilos/componentes/cards_inicio.css');
@import url('/estilos/componentes/cards-cdn-cap.css');
@import url('/estilos/componentes/cards-cuestionario.css');
@import url('/estilos/componentes/convocatorias.css');
@import url('/estilos/componentes/cuestionario.css');
@import url('/estilos/componentes/form.css');
@import url('/estilos/componentes/historial.css');
@import url('/estilos/componentes/steps.css');
@import url('/estilos/componentes/tab_inicio.css');
@import url('/estilos/layouts/footer.css');
@import url('/estilos/layouts/grid.css');
@import url('/estilos/layouts/header.css');
@import url('/estilos/layouts/menu.css');
@import url('/estilos/utilities/spacing.css');
@import url('/estilos/base/bootstrap_clases.css');
@import url('/estilos/base/colors.css');



body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body.kit {
  background-color:rgba(var( --grey-5), 1);
}

/* Reset básico para márgenes y padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 34;
}

.breadcrumbs {
  color: var(--color-font);
  font-size: 1rem;
  margin: 20px 0;
}

.breadcrumbs a {
  color: var(--color-font);
  font-size: 1rem;
  text-decoration: none;
}

.breadcrumbs a.active {
  color: var(--color-font);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
}


td.white-space-fix {
  white-space: nowrap!important;
}
