.box-container {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .box-container {
    width: 85%;
  }
}

.main-box {
  display: flex;
  gap: 30px;
}

.white-container {
  border: 1px solid rgba(var(--grey-20), 1);
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin: 12px;
  width: 85%;
}

@media only screen and (max-width: 800px) {
  .white-container {
    width: 100%;
  }
}

.container-wordpress {
  padding: 0 1rem;
  margin: 2.4rem 0;
}

@media only screen and (min-width: 768px) {
  .container-wordpress{
    margin: 2.4rem auto;
    max-width: 1140px;
  }
}