@import url('/estilos/base/variables.css');
@import url('/estilos/base/colors.css');
@import url('/estilos/base/typography.css');
@import url('/estilos/utilities/spacing.css');

.btn-primary, a.btn-primary{
  width: 100%;
  margin: 2px;
  border: none;
  font-size: 1rem;
  padding: var(--btn-padding-sm);
  color: rgba(var(--white), 1);
  background-color: rgba(var(--base-blue-dark-1), 1);
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: rgba(var(--base-blue-dark-3), 1);
}

.btn-primary:active {
  background-color: rgba(var(--base-blue-dark-4), 1);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(var(--yellow-focus), 1);
}

@media only screen and (min-width: 576px) {
  /* Desde tablets: */
  .btn-primary {
    width: fit-content;
  }
}

.btn-secondary {
  width: 100%;
  margin: 4px 2px;
  border: 1px solid rgba(var(--base-blue), 1);
  color: rgba(var(--base-blue), 1);
  background-color: transparent;
  font-size: 1rem;
  padding: var(--btn-padding-sm);
}

.btn-secondary:hover {
  color: rgba(var(--base-blue-dark-3), 1);
  border: 1px solid rgba(var(--base-blue-dark-3), 1);
}

.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(var(--yellow-focus), 1);
}

.btn-secondary:active {
  border: 1px solid rgba(var(--base-blue-dark-4), 1);
  color: rgba(var(--base-blue-dark-4), 1);
}

@media only screen and (min-width: 576px) {
  /* Para tablets: */
  .btn-secondary {
    width: fit-content;
  }
}

.btn-close {
  opacity: 1 !important;
}

.chips-main {
  padding: var(--chips-padding);
  border-radius: var(--border-radius-chips);
  cursor: none;
  pointer-events: none;
  font-size: var(--font-size-small);
  font-weight: 700;
  width:fit-content;
  margin: 0 0.3rem;
}

.chips-main.primary-info-dk-blue{
  background-color: rgba(var( --base-blue-dark-1), 1);
  border: none;
  color: rgba(var(--white), 1);
}

.chips-main.primary-info-light-blue {
  background-color: rgba(var(--base-info-light-4), 1);
  border: none;
  color: rgba(var(--base-info-dark-4), 1);
}

.chips-main.sucess {
  background-color: rgba(var(--sucess-dark-3), 1);
  border: none;
  color: rgba(var(--white), 1);
}

.chips-main.sucess-light {
  background-color: rgba(var(--sucess-light-4), 1);
  border: none;
  color: rgba(var(--sucess-dark-4), 1);
}

.chips-main.warning-orange {
  background-color: rgba(var(--warning-orange), 1);
  border: none;
  color:#000000;
}

.chips-main.warning-orange-light {
  background-color: #FFAA5C;
  border: none;
  color: rgba(var(--font-color), 1);
}

.chips-main.warning-yellow {
  background-color: rgba(var(--warning-yellow), 1);
  border: none;
  color: rgba(var(--font-color), 1);
}

.chips-main.warning-yellow-light {
  background-color: rgba(var(--warning-yellow-light), 1);
  border: none;
  color: rgba(var(--font-color), 1);
}

.chips-main.danger {
  background-color: rgba(var(--danger-dark), 1);
  border: none;
  color: rgba(var(--white), 1);
}

.chips-main.danger-light {
  background-color: rgba(var(--base-advertencia-light-4), 1);
  border: none;
  color: #9b0303;
}

.chips-main.card-cdn {
  background-color:white;
  border: 1px solid rgba(var(--base-blue), 1);
  color:  rgba(var(--base-blue), 1);
  pointer-events: none;
  font-size: var(--font-size-small);
}

/*BOTONES*/

@media only screen and (min-width: 576px) {
  /* Desde tablets: */
  .btn-primary-dk-blue{
    width: fit-content;
  }
}
.btn-primary-dk-blue, a.btn-primary-dk-blue, .box-item-postulaciones a.btn-primary-dk-blue {
  width: 100%;
  margin: 4px 2px;
  border: none;
  font-size: 1rem;
  padding: var(--btn-padding-sm);
  color: rgba(var(--white), 1)!important;
  background-color: rgba(var(--base-blue-dark-2), 1);
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}

.btn-primary-dk-blue:hover {
  background-color: rgba(var(--base-blue-dark-3), 1);
}

.btn-primary-dk-blue:active {
  background-color: rgba(var(--base-blue-dark-4), 1);
}

.btn-primary-dk-blue:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(var(--yellow-focus), 1);
}



/*BOTONES CON NÚMERO DE POSTULACIONES EN CUESTIONARIO*/

button.btn-number-conv {
  width: 100%;
  background-color: rgba(var(--sucess-light-5), 1);
  padding: var(--btn-padding-sm);
  border-radius: var(--border-radius-chips);
  font-size: 1rem;
  font-weight: 700;
  border:none;
  color: rgba(var(--font-color), 1);
  margin: 12px 0 16px 0;
}

@media only screen and (min-width: 576px) {
  /* Desde tablets: */
  button.btn-number-conv{
    width: fit-content;
  }
}

button.btn-gray-10 {
  width: 100%;
  background-color: rgba(var(--grey-10), 1);
  padding: var(--btn-padding-sm);
  border-radius: var(--border-radius-chips);
  font-size: 1rem;
  font-weight: 700;
  border:none;
  color: rgba(var(--font-color), 1);
  margin: 12px 0 16px 0;
  pointer-events: none;
}

@media only screen and (min-width: 576px) {
  /* Desde tablets: */
  button.btn-gray-10{
    width: fit-content;
  }
}



button.btn-number-conv span.number-conv {
  color: white;
  border-radius: 24px;
  background-color: rgba(var(--sucess-dark-3), 1);
  font-weight: bold;
  position: absolute;
  right: -10px;
  bottom: 15px;
  font-size: 14px;
  width: 26px;
  height: 26px;
  padding: 2px;
}


/*CAJA PARA BOTONES WIDTH MOBILE*/


@media only screen and (max-width: 576px) {
  /* Desde tablets: */
  .box-button{
    width: 100%;
  }
}

/*CAJA PARA BOTONES WIDTH MOBILE*/



.btn-red-acento, a.btn-red-acento {
  width: 100%;
  margin: 0px 2px;
  border: none;
  font-size:1.125rem;
  padding: var(--btn-padding-sm);
  color: rgba(var(--white), 1);
  background-color: rgba(var(--acento-red-dark-2), 1);
  transition: 0.3s;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 600;
  display: inline-block;
}

.btn-red-acento:hover {
  background-color: rgba(var(--acento-red-dark-3), 1);
  text-decoration: underline;
}

.btn-red-acento:active {
  background-color: rgba(var( --acento-red-dark-4), 1);
}

.btn-red-acento:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(var(--yellow-focus), 1);
}


@media only screen and (min-width: 576px) {
  /* Desde 576px: */
  .btn-red-acento, a.btn-red-acento {
    width:  auto;
  }
}