@import url('/estilos/base/variables.css');
@import url('/estilos/base/colors.css');
@import url('/estilos/base/bootstrap_clases.css');
@import url('/estilos/utilities/spacing.css');


/*CARDS CUESTIONARIO*/


@media only screen and (min-width: 800px) {
  /* Para tablets: */
  .card-steps{
    max-width: 260px;
  }
}


.card-steps {
  border:none;
  padding:0px;
}

@media only screen and (min-width: 800px) {
  /* Para tablets: */
  .card-steps{
    border: 1px solid rgba(var(--base-blue), 1);;
    padding:24px 12px;
    border-radius: var(--border-radius-cards);
    text-align: left;
  }
}

.card-steps p {
  color: rgba(var(--font-color), 1);
  text-align: left;
  margin: 0;
}


.circle-card img{
display: none;
}
@media only screen and (min-width: 800px) {
  /* Para tablets: */
  .circle-card img{
    display: flex;
  }
}


.circle-card{
  display: none;
  }
  @media only screen and (min-width: 800px) {
    /* Para tablets: */
    .circle-card {
      display: flex !important;
      background-color:rgba(var(--base-blue-light-5), 0.3);
      /*padding: 12px;*/
      border-radius: 50px;
      height: 64px;
      width: 64px;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }

/*CARDS CUESTIONARIO*/