@import url('/estilos/base/variables.css');
@import url('/estilos/base/colors.css');
@import url('/estilos/base/bootstrap_clases.css');
@import url('/estilos/utilities/spacing.css');


/*CARDS HOME*/
.card-home {
    padding: var(--padding-cards);
    border-radius: var(--border-radius-1);
  }
  .card-home h1 {
    color: rgba(var(--font-color), 1);
    font-size: var(--font-size-h2);
  }
  .card-home h2 {
    font-size: var(--font-size-h2-mob);
    font-weight: 700;
  }
  
  .card-home p {
    color: rgba(var(--font-color), 1);
    font-size: var(--font-size-h3-mob);
    font-weight: 700;
  }
  
  .card-home.card-success {
    border: 1px solid rgba(var(--sucess-dark-1), 1);
    background-color: rgba(var(--sucess-light-5), 1);
  }
  .card-home.card-alert {
    border: 1px solid rgba(var(--warning-dark-3), 1);
    background-color: rgba(var(--warning-light-5), 1);
  }
  
  .card-img-box {
    background-color: rgba(var(--white), 1);
    border-radius: 40px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .card-img-box.sucess {
    border: 1px solid rgba(var(--sucess-light-3), 1);
  }
  
  .card-img-box.warning {
    border: 1px solid rgba(var(--warning-dark-3), 1);
  }
  
  .glide__slide {
    width: 300px; /* Establece el ancho de cada diapositiva */
    height: fit-content; /* Establece la altura de cada diapositiva */
  }
  
  /*Controles Glide*/
  .controles-glide-inicio {
    display: none;
  }
  
  @media screen and (max-width: 1180px) {
    .controles-glide-inicio {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 28px 0;
    }
  }
  
  button.arrow-link-left {
    background-color: transparent !important;
    border: none !important;
  }
  button.arrow-link-right {
    background-color: transparent !important;
    border: none !important;
  }
  .glide-control-style {
    font-size: 2.8rem;
    color: rgba(var(--font-color), 1);
  }
  .glide-control-style:hover {
    color: rgba(var(--font-color), 0.7);
  }
  /*Controles Glide*/
  /*CARDS HOME*/