@import url('/estilos/base/variables.css');
@import url('/estilos/base/typography.css');
@import url('/estilos/base/colors.css');
@import url('/estilos/utilities/spacing.css');


.container-titles {
  display: block;
  max-width: 1200px;
  margin: 1rem auto;
  color: rgba(var(--font-color), 1);
}

.container-titles h1 {
  color: rgba(var(--font-color), 1);
  font-family: var(--font-family-sans-slab);
  font-size:var(--font-size-h4-mob) ;
  display: block;
  padding: 0 0 1rem 0;
  text-align: center;
}

@media (min-width:768px) {
  .container-titles h1 {
    font-size:var(--font-size-h4);
  }
}

.cuestionario-container-mob h1 {
  color: rgba(var(--font-color), 1);
  font-family: var(--font-family-sans-slab);
  font-size:var(--font-size-h4-mob) ;
  display: block;
  padding: 0 0 1rem 0;
  text-align: center;  
}


@media (min-width:768px) {
  .cuestionario-container-mob h1{
    font-size:var(--font-size-h4);
  }
}

.container-card-1 {
  max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: center;
  }

.container-card-2 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: center; 
  }
  .box {
    max-width: 320px;
    width: calc(34% - 8px); /* Ajusta al 50% con espacio entre columnas */
  }

  .box-2 {
    max-width: 320px;
  /*  width: calc(53.333% - 10.67px);  3 columnas con espacio entre ellas */
  }
  
  /* Para pantallas más pequeñas, las cajas ocuparán el 100% */
  @media (max-width: 680px) {
    .box {
      width: 100%;
    }
  }


  /*PROGRESS BAR CIRCULAR*/
  .progress-circle {
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 0.3s ease;
}
  /*PROGRESS BAR CIRCULAR*/


/* If screen size is 800px wide, or less, display block */
  @media (max-width: 800px) {
    .cuestionario-container-mob{
      display:block;
      background-color: white;
      margin: 0 0.8rem;
      text-align: center;
    }
  }


/* If screen size is more than 801px wide,  display none */
@media (min-width: 801px) {
    .cuestionario-container-mob{
      display:none;
    }
  }

/* If screen size is more than 801px wide,  display none */
@media (min-width: 800px) {
  .cuestionario-container-escritorio{
    display:block;
    background-color: palevioletred;
  }
}

/* If screen size is 800px wide, or less, display block */
  @media (max-width: 800px) {
    .cuestionario-container-escritorio{
      display: none;
    }
  }

  /* If screen size is 800px wide*/
  @media (max-width: 800px) {
    .min-w-mobile{
      min-width: 322px!important;
    }
  }

