.container-card-1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre cajas */
    justify-content: center; /* Centra los elementos en caso de que haya menos de 2 */
  }

.container-card-2 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre cajas */
    justify-content: center; /* Centra los elementos en caso de que haya menos de 2 */
  }
  .box {
    max-width: 320px;
    width: calc(50% - 8px); /* Ajusta al 50% con espacio entre columnas */
  }

  .box-2 {
    max-width: 320px;
    width: calc(53.333% - 10.67px); /* 3 columnas con espacio entre ellas */
  }
  
  /* Para pantallas más pequeñas, las cajas ocuparán el 100% */
  @media (max-width: 680px) {
    .box {
      width: 100%;
    }
  }